* {
    margin: 0;
}
body {
    background-color: #202124;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}



nav, footer {
    flex-shrink: 0;
}

/* Navbar */
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
li a{
    text-decoration: none;
    color: white;
}
nav ul li {
    list-style: none;
    padding: 15px;
}

/*--------------------------------------------------------------------------------------*/

/* Section */
section {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
img {
    width: 300px;
    height: 100px;
}

#searchbar {
    background-color: #202124;
    border: 1px solid rgba(255, 255, 255, 0.329);
    border-radius: 30px;
    width: 600px;
    height: 40px;
    align-items: center;
    text-align: center;
    font-size: 20px;
    outline: none;
    margin: 15px;
    color: white;

}
#searchbar:hover {
    background-color: #5f63689d;
    border: 1px solid #202124;
}

input[type=button]{
    background-color: #5f63689d;
    color: white;
    padding: 8px 20px;
    margin: 10px;
    border: 1px solid #5f63689d;
    cursor: pointer;
    border-radius: 5px;
}
#search_button:hover{
    border: 1px solid white;

}
#lucky_button:hover{
    border: 1px solid white;
}

/* ---------------------------------------------------------------------------- */

/* Footer */
footer {
    color: rgba(255, 254, 254, 0.753);
    
}
.layer1 {
    background-color: rgba(14, 11, 11, 0.705);
    padding: 15px 40px;
    border-bottom: 1px solid rgba(153, 150, 150, 0.288);
}
.layer2 {
    background-color: rgba(14, 11, 11, 0.705);
    border: 1px solid black;
    padding: 10px 20px;
}
.layer2 a {
    text-decoration: none;
    color: rgba(255, 254, 254, 0.753);
    margin: 20px;
}

